.modal-container {
    height: 50%;
    width:40%;
    background-color: rgb(131, 125, 125);
    color: rgb(0, 0, 0);
    position: fixed;
    top:8rem;
    left:26.5rem;
    z-index: 5;
  
    
}

.close-btn{
    position: absolute;
    right:3px;
    top:2px;
    width: 12%;
    background-color: red;
    color:white;   

}